{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 110,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.feature"],
      "options": {
        "parser": "markdown",
        "printWidth": 120
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
